/* Join.module.css */
.join-container {
  background-color: #f8f8f8;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.join-container video {
  max-width: 100%;
}

.join-controls {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 10px;
}

.join-controls button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.join-controls button:hover {
  background-color: #0056b3;
}

.join-chat-container {
  margin-top: 20px;
}

.join-chat-container ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.join-chat-container li {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.join-chat-input {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.join-chat-input input[type="text"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius:0%;
}